<div class="form-horizontal">
    <div class="row">
        <div class="col-12">
            <div class="col-offset-3 col-10">
                <div class="checkbox">
                    <label>
                        <input [(ngModel)]="settingsService.option.vip.general.disable_inactivity" type="checkbox"> {{ 'app.option.vip.general.disable_inactivity' | translate }}
                    </label>
                </div>
            </div>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>
